*{
    padding: 0px;
    margin: 0px;
}
/* 
.headder{
    font-size: 3em;
   font-family: 'Times New Roman', Times, serif;
   color: rgb(10, 10, 230);
   background-color: rgb(189, 209, 7);
   align-items: center;
   align-content: center;
   padding-left: 200px;
   border: 10px;
   border-width: 60%;
   border-color: white;
} */

/* .work{
    font-size:larger;
    color: rgb(2, 31, 109);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 200px;
}

.head{
    border: 10px;
    width: 200px;
    height: 200px;
    color: blue;
    background-color: yellow;
    padding-left: 200px;
    padding-top: 200px;
    align-content: center;
    margin: 200px;
    transition: border-radius 0.3s, background-color 0.3s;

}
.head :hover{
    transform: border-radius(100px);
    background-color: red;
    border-radius: 50%;
} */

.head{
    width: 500px;
    height: 500px;
    background-color: rgb(247, 8, 80);
    transition: border-radius 2s, background-color 2s;
    padding-left: 300px;
    margin-top: 200px;
}

.head:hover {
    border-radius: 50%;
    background-color: rgb(8, 42, 236);}

    .head:hover {
        border-radius: 50%;
        animation: flicker 1s infinite alternate;
    }

    @keyframes flicker {
        0% { opacity: 1; }
        100% { opacity: 0.3; }
    }
    .head:hover {
        border-radius: 50%;
        animation: bounce 0.1s infinite alternate ease-in-out;
    }

    @keyframes bounce {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }
    body {
        margin: 0;
        overflow: hidden;
        background-color: black;
        color: rgb(238, 243, 238);
        font-family: monospace;
    }
    .rain {
        position: absolute;
        top: 0;
        font-size: 20px;
        opacity: 0.8;
    }